
Visual Paradigm/.Lorann.vpp.lck
Visual Paradigm/Lorann.vpp.bak_000f
Deliverables/~$Lorann - PowerPoint.pptx
Deliverables/~$rann - Report.docx
Deliverables/Project_Management/~$ProjectAutoAssessement.xlsx
